.bubble {
  position: fixed;
  top: 33px;
  left: 88px;
  transition: all 0.2s;
}

.bubble:hover {
  transform: scale(1.3);
  cursor: pointer;
}

.face {
  width: 200px;
  height: 193px;
  border: 6px solid #ffff;
  border-radius: 100%;
}
