.bubble {
  position: fixed;
  top: 5%;
  right: 5%;
  transition: all 0.2s;
}

.bubble:hover {
  transform: scale(1.15);
  cursor: pointer;
}

.face {
  width: 200px;
  height: 193px;
  border: 6px solid #ffff;
  border-radius: 100%;
}
@media screen and (max-width: 800px) {
  .face {
    width: 100px;
    height: 98px;
    border: 1px solid #ffff;
    border-radius: 100%;
  }
}
