.bubble {
  position: fixed;
  top: 20px;
  right: 20px;
  transition: all 0.2s;
}

.bubble:hover {
  transform: scale(1.15);
  cursor: pointer;
}

.face {
  width: 200px;
  height: 193px;
  border: 6px solid #ffff;
  border-radius: 100%;
}
@media screen and (max-width: 480px) {
  .face {
    width: 100px;
    height: 98px;
    border: 1px solid #ffff;
    border-radius: 100%;
  }

  .bubble {
    position: fixed;
    top: 13px;
    right: 13px;
    transition: all 0.2s;
  }
}
