.list {
  margin-bottom: 0;
  padding-left: 35px;
}

.list li:not(:last-child) {
  margin-right: 25px;
}

.list li {
  display: inline-block;
  font-size: 70px;
}

.list li a {
  color: #bfbfbf;
  transition: 0.4s;
  text-decoration: none;
  font-weight: 600;
}

.list li a:hover {
  color: black;
  cursor: pointer;
  font-weight: 900;
  text-decoration: none;
}

.nav {
  position: fixed;
  top: 7px;
  left: 0;
  width: 70%;
}

@media screen and (max-width: 800px) {
  .nav {
    position: absolute;
  }
  .list li {
    display: block;
    font-size: 40px;
  }
  .list li:first-child {
    display: none;
  }
}
