.global {
  font-family: "Thasadith", sans-serif;
}

.global h2 {
  font-size: 50px;
  color: #bfbab9;
}

.global h3 {
  color: #a8a1a1;
}

.global p {
  margin-bottom: 0;
  color: #bfbab9;
  font-size: 30px;
  padding: 10px 0;
  line-height: 28px;
}

@media screen and (max-width: 1024px) {
  .list li {
    font-size: 55px;
  }
  .global p {
    font-size: 20px;
    line-height: 25px;
  }
}
